[View in Colaboratory](https://colab.research.google.com/github/iamrajee/Data-Analysis/blob/master/csv_column_manipulation.ipynb)

In [1]:
from google.colab import files
upload = files.upload()

Saving finaljazz.xlsx to finaljazz (1).xlsx

KeyboardInterrupt: ignored

In [0]:
import numpy as np
import pandas as pd

In [0]:
data = pd.read_excel('finaljazz.xlsx')

In [5]:
print(data)

               location    year      rid  \
0            ['prague']  1962.0       10
1            ['prague']  1962.0       20
2            ['prague']  1962.0       30
3            ['prague']  1962.0       40
4            ['prague']  1962.0       50
5            ['prague']  1963.0       60
6            ['prague']  1963.0       70
7            ['prague']  1963.0       80
8            ['prague']  1963.0       90
9            ['prague']  1963.0      100
10           ['prague']  1963.0      110
11           ['prague']  1964.0      120
12           ['prague']  1964.0      130
13           ['prague']  1964.0      150
14           ['prague']  1964.0      160
15           ['prague']  1964.0      170
16           ['prague']  1964.0      180
17           ['prague']  1964.0      190
18           ['prague']  1964.0      200
19           ['prague']  1964.0      210
20           ['prague']  1964.0      220
21           ['prague']  1964.0      230
22           ['prague']  1965.0      240
23           ['prague']  1965.0      250
24           ['prague']  1966.0      260
25           ['prague']  1971.0      280
26           ['prague']  1972.0      290
27       ['bratislava']  1978.0      310
28             ['graz']  1991.0      320
29      ['los angeles']  1994.0      330
...                 ...     ...      ...
135963             oslo  2000.0  1250054
135964          toronto  1999.0  1250055
135965         new york  2001.0  1250102
135966            miami  2001.0  1250115
135967      los angeles  2003.0  1250116
135968           vienna  1999.0  1249811
135969           london  2003.0  1249836
135970         new york  2003.0  1249873
135971         new york  2003.0  1249874
135972         new york  2001.0  1250195
135973         new york  2003.0  1250197
135974        lexington  2003.0  1250217
135975       louisville  2003.0  1250217
135976       versailles  2003.0  1250217
135977       louisville  2000.0  1250232
135978     pennsylvania  2001.0  1250290
135979         new york  2001.0  1250355
135980  north hollywood  2001.0  1250355
135981          holland  2001.0  1250369
135982          sudbury  2003.0  1250397
135983            tokyo  2003.0  1250422
135984  north hollywood  2001.0  1250440
135985          toronto  2000.0  1250475
135986          chicago  2003.0  1250477
135987         new york  2002.0  1250530
135988         new york  2001.0  1250559
135989             ohio  2000.0  1250568
135990          chicago  2000.0  1250574
135991          toronto  2002.0  1250575
135992         new york  2002.0  1250591

                                                  musicid
0                                                      []
1                                                      []
2                                                      []
3                                                      []
4                                                      []
5                                                      []
6                                                      []
7                                                      []
8                                                      []
9                                                      []
10                                                     []
11                                                     []
12                                                     []
13                                                     []
14                                                     []
15                                                     []
16                                                     []
17                                                     []
18                                                     []
19                                                     []
20                                                     []
21                                                     []
22                                                     []
23                                                     []
24                                                     []
25                                                     []
26                                                     []
27                                                     []
28                                                     []
29                                                     []
...                                                   ...
135963  149520|264628|149513|158418|136153|143942|2646...
135964                        264630|223095|264631|264631
135965  133078|156598|130595|133687|133025|156599|1329...
135966  157462|157463|157464|129182|157465|157466|1574...
135967  157493|157474|157494|157495|157496|157497|1574...
135968  255575|255575|132111|239699|143405|132113|2337...
135969  134480|132465|132458|138667|264365|0|264366|0|...
135970                      134559|0|147002|147003|133943
135971               134559|0|135095|127824|128154|133943
135972  264795|0|127873|138779|128318|128296|169391|16...
135973  264795|0|127873|128263|264802|264812|138287|15...
135974  237188|237189|237190|237191|237192|237185|1594...
135975  237188|237189|237190|237191|237192|237185|1594...
135976  237188|237189|237190|237191|237192|237185|1594...
135977          168788|264922|264923|253627|253627|264924
135978  154021|190871|151909|128833|145969|239214|1280...
135979  128120|128318|128263|130721|240815|134564|1281...
135980  128120|128318|128263|130721|240815|134564|1281...
135981                               205910|163788|150163
135982  265084|0|152079|132273|265085|143769|239855|16...
135983  167164|189192|172008|189167|189167|242277|1927...
135984  242591|0|139440|242602|135308|190623|138893|12...
135985          145789|172783|243563|171288|145798|243564
135986  128296|127634|169391|128339|243615|142683|2436...
135987  128825|0|153796|244936|138121|138569|171570|24...
135988   135079|156500|166858|163320|133296|138849|129016
135989  246049|246050|246050|246050|240670|240670|2460...
135990                                      175723|246139
135991  222559|0|244238|138912|139538|147858|127149|13...
135992               246807|0|127823|130381|246808|133444

[135993 rows x 4 columns]

In [6]:
print(np.shape(data))

(135993, 4)

In [21]:
%%time
length = np.shape(data)[0]
uniquelist = []
yearlist = []
for i in range(0,len):
  uniquelist.append(i)
  uniquelist[i] = []
 

print(length)

length = 500
for i in range(0,length):
  ownrid = data['rid'][i]
  ownmusicid = data['musicid'][i]
  ownyear = data['year'][i]
  for j in range(i+1,len):
    otherrid = data['rid'][i]
    othermusicid = data['musicid'][i]
    otheryear = data['year'][i]
    
    flag =0
    for ele in ownmusicid.split('|'):
      if ele in othermusicid.split('|') and ele != '0' and ele != 0:
        flag =1
    
    if flag ==1 and ownrid != otherrid and ownyear == otheryear: #len(ownrid) != 0 and len(otherrid) != 0 and  #no need to do seperately as flag will handle
      uniquelist[i].append(data['location'][j])
      yearlist.append(ownyear)
      
  if i % 10==0:
    print(i)
    
    
# for i in range(0,length):    
#   print(uniquelist[i])

135993
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
CPU times: user 45min 11s, sys: 494 ms, total: 45min 11s
Wall time: 45min 16s

In [22]:
data

,location,year,rid,musicid
0,['prague'],1962.0,10,[]
1,['prague'],1962.0,20,[]
2,['prague'],1962.0,30,[]
3,['prague'],1962.0,40,[]
4,['prague'],1962.0,50,[]
5,['prague'],1963.0,60,[]
6,['prague'],1963.0,70,[]
7,['prague'],1963.0,80,[]
8,['prague'],1963.0,90,[]
9,['prague'],1963.0,100,[]
10,['prague'],1963.0,110,[]
11,['prague'],1964.0,120,[]
12,['prague'],1964.0,130,[]
13,['prague'],1964.0,150,[]
14,['prague'],1964.0,160,[]
15,['prague'],1964.0,170,[]
16,['prague'],1964.0,180,[]
17,['prague'],1964.0,190,[]
18,['prague'],1964.0,200,[]
19,['prague'],1964.0,210,[]
20,['prague'],1964.0,220,[]
21,['prague'],1964.0,230,[]
22,['prague'],1965.0,240,[]
23,['prague'],1965.0,250,[]
24,['prague'],1966.0,260,[]
25,['prague'],1971.0,280,[]
26,['prague'],1972.0,290,[]
27,['bratislava'],1978.0,310,[]
28,['graz'],1991.0,320,[]
29,['los angeles'],1994.0,330,[]
...,...,...,...,...
135963,oslo,2000.0,1250054,149520|264628|149513|158418|136153|143942|2646...
135964,toronto,1999.0,1250055,264630|223095|264631|264631
135965,new york,2001.0,1250102,133078|156598|130595|133687|133025|156599|1329...
135966,miami,2001.0,1250115,157462|157463|157464|129182|157465|157466|1574...
135967,los angeles,2003.0,1250116,157493|157474|157494|157495|157496|157497|1574...
135968,vienna,1999.0,1249811,255575|255575|132111|239699|143405|132113|2337...
135969,london,2003.0,1249836,134480|132465|132458|138667|264365|0|264366|0|...
135970,new york,2003.0,1249873,134559|0|147002|147003|133943
135971,new york,2003.0,1249874,134559|0|135095|127824|128154|133943
135972,new york,2001.0,1250195,264795|0|127873|138779|128318|128296|169391|16...
135973,new york,2003.0,1250197,264795|0|127873|128263|264802|264812|138287|15...
135974,lexington,2003.0,1250217,237188|237189|237190|237191|237192|237185|1594...
135975,louisville,2003.0,1250217,237188|237189|237190|237191|237192|237185|1594...
135976,versailles,2003.0,1250217,237188|237189|237190|237191|237192|237185|1594...
135977,louisville,2000.0,1250232,168788|264922|264923|253627|253627|264924
135978,pennsylvania,2001.0,1250290,154021|190871|151909|128833|145969|239214|1280...
135979,new york,2001.0,1250355,128120|128318|128263|130721|240815|134564|1281...
135980,north hollywood,2001.0,1250355,128120|128318|128263|130721|240815|134564|1281...
135981,holland,2001.0,1250369,205910|163788|150163
135982,sudbury,2003.0,1250397,265084|0|152079|132273|265085|143769|239855|16...
135983,tokyo,2003.0,1250422,167164|189192|172008|189167|189167|242277|1927...
135984,north hollywood,2001.0,1250440,242591|0|139440|242602|135308|190623|138893|12...
135985,toronto,2000.0,1250475,145789|172783|243563|171288|145798|243564
135986,chicago,2003.0,1250477,128296|127634|169391|128339|243615|142683|2436...
135987,new york,2002.0,1250530,128825|0|153796|244936|138121|138569|171570|24...
135988,new york,2001.0,1250559,135079|156500|166858|163320|133296|138849|129016
135989,ohio,2000.0,1250568,246049|246050|246050|246050|240670|240670|2460...
135990,chicago,2000.0,1250574,175723|246139
135991,toronto,2002.0,1250575,222559|0|244238|138912|139538|147858|127149|13...
135992,new york,2002.0,1250591,246807|0|127823|130381|246808|133444

In [23]:
np.shape(uniquelist)

(135993, 0)

In [0]:
finallist1 = []
finallist2 = []

for i,templist in enumerate(uniquelist):
  templen =  np.shape(templist)[0]
  ownname = data['location'].iloc[i]
  for j in range(0,templen):
    othername = uniquelist[i][j]
    finallist1.append(ownname)
    finallist2.append(othername)

In [25]:
print(np.shape(finallist1))
print(np.shape(finallist2))

# for i in range(0,np.shape(finallist1)[0]):
#   print(finallist1[i],finallist2[i])
  
print(finallist1)
print(finallist2)

(0,)
(0,)
[]
[]

In [26]:
newlist = []
for i in range(0,np.shape(finallist1)[0]):
  newlist.append(i)
  newlist[i] = []

for i in range(0,np.shape(finallist1)[0]):
  newlist[i].append(finallist1[i])
  newlist[i].append(finallist2[i])
  newlist[i].append(yearlist[i])

print(newlist)

[]

In [0]:
# filename = "final_pairs.csv"
# my_df = pd.DataFrame(newlist)
# my_df.to_csv(filename)

# from google.colab import files
# downloaded = files.download(filename)